
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@media only screen and (min-width: 800px) {
  .store-link-input{
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 22px;
    outline: none;
    margin-bottom: 3%;
  }

  .button-name-input{
    width: 55%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 22px;
    outline: none;
    margin-bottom: 3%;
    margin-left: 20%;
  }

  .codeBlock{
    background-color: aliceblue;
    width: 55%;
    padding: 2%;
    margin-top: 5%;
    margin-left: 20%;
  }

  .code{
    font-family: 'Source Code Pro', monospace;
  }

  .logoDiv{
    margin-top: 1%;
  }

  .App-header{
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 5%;
  }

  .red, .white, .redOutline, .whiteOutline{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 1%;
    outline: none;
    border-style: solid;
  }

  .red{
    background-color: red;
  }

  .white{
    background-color: white;
  }

  .redOutline{
    background-color: red;
    border-color: black;
    border-width: 1px;
  }

  .whiteOutline{
    background-color: white;    
    border-color: black;
    border-width: 1px;
  }

  .buttonSection{
    margin-top: 5%;
  }

  .redButton{
    font-size: 22px;
    background: #E81E24;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }

  .redButton:hover{
    background-color: #C90F14;
    transition: 0.3s;
  }

  .whiteButton{
    font-size: 22px;
    background: #F2F4F5;
    border-style: solid;
    border-width: 1px;
    border-color: #E9ECEE;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    text-decoration: none;
    color: #E81E24;
  }

  .whiteButton:hover{
    background-color: #E9ECEE;
    transition: 0.3s;
    color: #C90F14;
  }

}

@media only screen and (max-width: 800px) {
  .store-link-input{

  }
}